In [ ]:
import pandas as pd
import os

In [ ]:
ppd_folder = "ppd/"
files = os.listdir(ppd_folder)

dfs = []
for f in files:
    tmp = pd.read_parquet(ppd_folder+f)
    dfs.append(tmp)
ppd = pd.concat(dfs, ignore_index=True)

In [ ]:
ppd

In [7]:
from datetime import date

In [1]:
import pandas as pd


csv_url = "http://prod.publicdata.landregistry.gov.uk.s3-website-eu-west-1.amazonaws.com/pp-complete.csv"



header = ['TRANSACTION_UNIQUE_IDENTIFIER','PRICE',
        'DATE_OF_TRANSFER','POSTCODE','PROPERTY_TYPE',
        'OLD_NEW','DURATION','PAON','SAON','STREET',
        'LOCALITY','TOWN_CITY','DISTRICT','COUNTY',
        'PPD_CATEGORY_TYPE','RECORD_STATUS_MONTHLY_FILE_ONLY']

chunk_size = 100

df_iter = pd.read_csv(csv_url, iterator=True, chunksize=chunk_size, header=None, names=header)

In [18]:
df_prova = next(df_iter)

In [19]:
df_prova.dtypes

TRANSACTION_UNIQUE_IDENTIFIER      object
PRICE                               int64
DATE_OF_TRANSFER                   object
POSTCODE                           object
PROPERTY_TYPE                      object
OLD_NEW                            object
DURATION                           object
PAON                               object
SAON                               object
STREET                             object
LOCALITY                           object
TOWN_CITY                          object
DISTRICT                           object
COUNTY                             object
PPD_CATEGORY_TYPE                  object
RECORD_STATUS_MONTHLY_FILE_ONLY    object
dtype: object

In [21]:
df_prova[
    (df_prova['COUNTY'] == 'GREATER LONDON')
    &(df_prova["DATE_OF_TRANSFER"]>'1995-11-01')
]

,TRANSACTION_UNIQUE_IDENTIFIER,PRICE,DATE_OF_TRANSFER,POSTCODE,PROPERTY_TYPE,OLD_NEW,DURATION,PAON,SAON,STREET,LOCALITY,TOWN_CITY,DISTRICT,COUNTY,PPD_CATEGORY_TYPE,RECORD_STATUS_MONTHLY_FILE_ONLY
110,{3639489A-69D0-4872-A19D-91F63E5CA203},200500,1995-11-20 00:00,SE23 2QA,D,N,F,40,NaN,SUNDERLAND ROAD,LONDON,LONDON,LEWISHAM,GREATER LONDON,A,A
159,{5B71326C-4F5F-48DC-BC21-91F6E807D94B},87950,1995-11-30 00:00,SE18 4PR,F,N,L,ROBERTSON HOUSE,FLAT 5,ROYAL HERBERT PAVILIONS,LONDON,LONDON,GREENWICH,GREATER LONDON,A,A

In [35]:
def transform(df):    
    df = df[
        (df['COUNTY'] == 'GREATER LONDON')
        &(df["DATE_OF_TRANSFER"]>'1995-11-01')
    ]
    return df

In [36]:
df_transformed = transform(df_prova)

In [39]:
len(df_transformed)

2

,TRANSACTION_UNIQUE_IDENTIFIER,PRICE,DATE_OF_TRANSFER,POSTCODE,PROPERTY_TYPE,OLD_NEW,DURATION,PAON,SAON,STREET,LOCALITY,TOWN_CITY,DISTRICT,COUNTY,PPD_CATEGORY_TYPE,RECORD_STATUS_MONTHLY_FILE_ONLY
0,{5BBE9CB3-6332-4EB0-9CD3-8737CEA4A65A},42000,1995-12-21 00:00,NE4 9DN,S,N,F,8,NaN,MATFEN PLACE,FENHAM,NEWCASTLE UPON TYNE,NEWCASTLE UPON TYNE,TYNE AND WEAR,A,A
8,{F7A5CAE4-BDD3-4911-897C-8AC393B97281},43000,1995-12-01 00:00,LA6 3DQ,T,N,F,90,NaN,NEW VILLAGE,INGLETON,CARNFORTH,CRAVEN,NORTH YORKSHIRE,A,A
75,{5D4952FA-5C76-405F-8F82-8738E6E28A4E},54000,1995-12-20 00:00,MK18 3QZ,T,N,F,7,NaN,RUDDS CLOSE,WINSLOW,BUCKINGHAM,AYLESBURY VALE,BUCKINGHAMSHIRE,A,A
92,{B07FDFED-3E8D-4BAF-A933-8739608D7590},60000,1995-12-18 00:00,SM5 3DY,S,N,F,21,NaN,PARK LANE,CARSHALTON,CARSHALTON,SUTTON,GREATER LONDON,A,A

In [4]:
df_prova.to_parquet("notrans.parquet")

In [50]:
df_prova['DATE_OF_TRANSFER'] = pd.to_datetime(df_prova['DATE_OF_TRANSFER'])

In [52]:
transformed = df_prova[df_prova['DATE_OF_TRANSFER'].dt.date >= date(1995,5,1)]

In [59]:
transformed['DATE_OF_TRANSFER'] = transformed['DATE_OF_TRANSFER'].astype(str)

/tmp/ipykernel_122997/2999378639.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  transformed['DATE_OF_TRANSFER'] = transformed['DATE_OF_TRANSFER'].astype(str)

In [44]:
transformed = df_prova[df_prova['DATE_OF_TRANSFER'] >= '1995-11-01']

In [60]:
transformed.to_parquet("trans.parquet")

In [46]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F

In [47]:
session = SparkSession.builder.getOrCreate()

In [61]:
df = session.read.parquet("trans.parquet")

In [62]:
df.show()

+-----------------------------+------+-------------------+--------+-------------+-------+--------+------------+--------+-------------------+----------------+---------------+--------------------+------------------+-----------------+-------------------------------+-----------------+
|TRANSACTION_UNIQUE_IDENTIFIER| PRICE|   DATE_OF_TRANSFER|POSTCODE|PROPERTY_TYPE|OLD_NEW|DURATION|        PAON|    SAON|             STREET|        LOCALITY|      TOWN_CITY|            DISTRICT|            COUNTY|PPD_CATEGORY_TYPE|RECORD_STATUS_MONTHLY_FILE_ONLY|__index_level_0__|
+-----------------------------+------+-------------------+--------+-------------+-------+--------+------------+--------+-------------------+----------------+---------------+--------------------+------------------+-----------------+-------------------------------+-----------------+
|         {611A9774-3EFE-4C...| 50000|1995-06-30 00:00:00| WF8 2EY|            S|      N|       F|          12|    NULL|        PRAIL CLOSE|      PONTEFRACT|     PONTEFRACT|           WAKEFIELD|    WEST YORKSHIRE|                A|                              A|            10000|
|         {CE832DC9-8F9A-48...| 63000|1995-06-16 00:00:00| LN4 1LH|            D|      N|       F|          76|    NULL|       STATION ROAD|        BRANSTON|        LINCOLN|      NORTH KESTEVEN|      LINCOLNSHIRE|                A|                              A|            10002|
|         {D7CEF211-69B9-46...| 27500|1995-05-26 00:00:00| M40 9DN|            S|      N|       F|          20|    NULL|     BRENDON AVENUE|      MANCHESTER|     MANCHESTER|          MANCHESTER|GREATER MANCHESTER|                A|                              A|            10003|
|         {157F4B1F-A2B8-42...| 27000|1995-08-18 00:00:00|SA73 2JF|            S|      N|       F|     BROMLEY|    NULL|     STRATFORD ROAD|   MILFORD HAVEN|  MILFORD HAVEN|PRESELI PEMBROKES...|             DYFED|                A|                              A|            10005|
|         {DA1CE587-D9E4-46...| 57500|1995-05-19 00:00:00|MK40 4QG|            T|      Y|       F|          14|    NULL|         WOOD CLOSE|       BIDDENHAM|        BEDFORD|  NORTH BEDFORDSHIRE|      BEDFORDSHIRE|                A|                              A|            10006|
|         {E8097A29-F030-44...| 75000|1995-12-15 00:00:00| CH7 4PZ|            D|      N|       F|           7|    NULL|           MAES IAL|LLANARMON YN IAL|           MOLD|             GLYNDWR|             CLWYD|                A|                              A|            10007|
|         {9A6BA7EA-0F87-44...| 72500|1995-07-25 00:00:00|SS15 6JZ|            S|      N|       F|          19|    NULL|         FORD CLOSE|         LAINDON|       BASILDON|            BASILDON|             ESSEX|                A|                              A|            10008|
|         {0DBC7386-17E2-4F...| 55000|1995-08-31 00:00:00| TN4 9JB|            S|      N|       F|          1A|    NULL|    SILVERDALE ROAD|            NULL|TUNBRIDGE WELLS|     TUNBRIDGE WELLS|              KENT|                A|                              A|            10009|
|         {31E4C7EE-967E-47...| 92500|1995-06-09 00:00:00|TR26 3DW|            D|      N|       F|           1|    NULL|          RIVERSIDE|          LELANT|       ST. IVES|             PENWITH|          CORNWALL|                A|                              A|            10010|
|         {AD82814C-DE73-4E...| 62000|1995-11-15 00:00:00|DY10 4JQ|            T|      N|       F|           6|    NULL|     BRAMBLING RISE|   KIDDERMINSTER|  KIDDERMINSTER|         WYRE FOREST|    WORCESTERSHIRE|                A|                              A|            10011|
|         {AD3CCF6B-6657-4D...| 60000|1995-09-13 00:00:00|DN11 9JF|            D|      N|       F|          54|    NULL|       DADSLEY ROAD|        TICKHILL|      DONCASTER|           DONCASTER|   SOUTH YORKSHIRE|                A|                              A|            10012|
|         {AD90CCB3-2394-42...|220000|1995-07-21 00:00:00|EN10 7JA|            D|      Y|       F|          11|    NULL|BROXBOURNEBURY MEWS|      BROXBOURNE|     BROXBOURNE|          BROXBOURNE|     HERTFORDSHIRE|                A|                              A|            10013|
|         {0AAF5976-DF4D-41...| 73000|1995-10-30 00:00:00| SM2 6TH|            F|      N|       L|      ORMSBY|       5|        GRANGE ROAD|          SUTTON|         SUTTON|              SUTTON|    GREATER LONDON|                A|                              A|            10014|
|         {4B117D39-BE53-44...| 17000|1995-08-04 00:00:00|GL51 6QB|            F|      N|       F|   ABLINGTON|TOP FLAT|      LANSDOWN ROAD|      CHELTENHAM|     CHELTENHAM|          CHELTENHAM|   GLOUCESTERSHIRE|                A|                              A|            10015|
|         {7C4E51C9-BF12-47...| 58000|1995-06-30 00:00:00| EN8 8AT|            T|      N|       F|          21|    NULL|    HEDWORTH AVENUE|   WALTHAM CROSS|  WALTHAM CROSS|          BROXBOURNE|     HERTFORDSHIRE|                A|                              A|            10016|
|         {2A494799-FCD7-41...|157750|1995-05-05 00:00:00| NW4 2AD|            S|      Y|       F|         42B|    NULL|          BELL LANE|          LONDON|         LONDON|              BARNET|    GREATER LONDON|                A|                              A|            10017|
|         {21C95AAE-E10A-42...| 68500|1995-12-08 00:00:00|NR11 8SP|            D|      N|       F|FLINT CORNER|    NULL|  OLD TURNPIKE ROAD|        ROUGHTON|        NORWICH|       NORTH NORFOLK|           NORFOLK|                A|                              A|            10018|
|         {10C7B896-5A98-4B...| 50000|1995-10-23 00:00:00| RG2 7TW|            T|      N|       F|         239|    NULL|     NEWCASTLE ROAD|         READING|        READING|             READING|           READING|                A|                              A|            10020|
|         {DA3B77F9-1500-44...| 85000|1995-08-25 00:00:00| GU2 9NQ|            S|      N|       F|          48|    NULL|         MANOR ROAD|       GUILDFORD|      GUILDFORD|           GUILDFORD|            SURREY|                A|                              A|            10021|
|         {12A04755-1177-4F...| 69000|1995-07-28 00:00:00| OX5 1QP|            S|      N|       F|          26|    NULL|      BERNARD CLOSE|         YARNTON|     KIDLINGTON|            CHERWELL|       OXFORDSHIRE|                A|                              A|            10022|
+-----------------------------+------+-------------------+--------+-------------+-------+--------+------------+--------+-------------------+----------------+---------------+--------------------+------------------+-----------------+-------------------------------+-----------------+
only showing top 20 rows

In [ ]:
ppd_folder = "ppd/"
files = os.listdir(ppd_folder)

In [ ]:
df = session.read.parquet(ppd_folder+files[0])

In [48]:
# import pandas as pd
# import os
# import oci

# config = oci.config.from_file("/config/oci/config", "DEFAULT")
# object_storage_client = oci.object_storage.ObjectStorageClient(config)

In [49]:
OCI_ACCESS_KEY_ID = os.environ['OCI_ACCESS_KEY_ID']
OCI_SECRET_ACCESS_KEY = os.environ['OCI_SECRET_ACCESS_KEY']

In [ ]:
if len(chunk)>0:
    chunk.to_parquet(local_file_path)
    bucket_file_path = f"{bucket_folder}{file_name}"
    with open(local_file_path, 'rb') as file:
        object_storage_client.put_object(namespace, bucket_name, bucket_file_path, file)
        print('transfer')
    os.remove(local_file_path)

In [51]:
import boto3

ModuleNotFoundError: No module named 'boto3'

In [52]:
!pip install boto3

Collecting boto3
  Downloading boto3-1.35.46-py3-none-any.whl.metadata (6.7 kB)
Collecting botocore<1.36.0,>=1.35.46 (from boto3)
  Downloading botocore-1.35.46-py3-none-any.whl.metadata (5.7 kB)
Collecting jmespath<2.0.0,>=0.7.1 (from boto3)
  Downloading jmespath-1.0.1-py3-none-any.whl.metadata (7.6 kB)
Collecting s3transfer<0.11.0,>=0.10.0 (from boto3)
  Downloading s3transfer-0.10.3-py3-none-any.whl.metadata (1.7 kB)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /opt/conda/lib/python3.11/site-packages (from botocore<1.36.0,>=1.35.46->boto3) (2.8.2)
Requirement already satisfied: urllib3!=2.2.0,<3,>=1.25.4 in /opt/conda/lib/python3.11/site-packages (from botocore<1.36.0,>=1.35.46->boto3) (2.0.7)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.11/site-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.36.0,>=1.35.46->boto3) (1.16.0)
Downloading boto3-1.35.46-py3-none-any.whl (139 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 139.2/139.2 kB 8.2 MB/s eta 0:00:00
Downloading botocore-1.35.46-py3-none-any.whl (12.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.6/12.6 MB 49.5 MB/s eta 0:00:0000:010:01
Downloading jmespath-1.0.1-py3-none-any.whl (20 kB)
Downloading s3transfer-0.10.3-py3-none-any.whl (82 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 82.6/82.6 kB 11.1 MB/s eta 0:00:00
Installing collected packages: jmespath, botocore, s3transfer, boto3
Successfully installed boto3-1.35.46 botocore-1.35.46 jmespath-1.0.1 s3transfer-0.10.3